<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>vue-in-react-web-component</title>
    <%= htmlWebpackPlugin.tags.headTags %>
  </head>
  <body>
    <div id="main"></div>
    <%= htmlWebpackPlugin.tags.bodyTags %>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
  </body>
</html>
